body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f9fc;
  color: #333;
}

header {
  background: #1f3a5f;
  color: white;
  padding: 70px 20px;
  text-align: center;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 25px;
  background: white;
  color: #1f3a5f;
  text-decoration: none;
  border-radius: 6px;
}

section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #1f3a5f;
}

.grid span {
  background: white;
  padding: 10px 14px;
  margin: 6px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,.05);
}

.card {
  background: white;
  padding: 20px;
  margin: 18px 0;
  border-radius: 6px;
  box-shadow: 0 0 8px rgba(0,0,0,.05);
}

.card a {
  color: #1f3a5f;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background: #1f3a5f;
  color: white;
  text-align: center;
  padding: 25px;
}
